body {
    background-color: lavender;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #5c35a6;
    text-align: center;
    margin-bottom: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: lavender;
    color: #5c35a6;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: mediumpurple;
    color: white;
}

.menu li button{
  display: block;
  padding: 10px;
  background-color: lavender;
  color: #5c35a6;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu li button:hover {
    background-color: mediumpurple;
    color: white;
}
